div, span, a, button, input, select, body, header, footer, p, h1, h2, h3, h4 {
    font-family: ff-netto-web, sans-serif;
}

.tabs {
    background-color: #b61e3a !important;
}

.tab-item .icon {
    color: #ffffff !important;
    font-size: 30px !important;
    height: 30px !important;
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
    color: white !important;
}

.tab-item {
    color: white !important;
}

.tabs-striped .tabs {
    border-bottom: none !important;
    padding-top: 4px !important;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
    border: none !important;
}

.type0
/* VORTRAG */

{
    /* color: #b61e3a; */
}

.type1
/* WORKSHOP */

{
    /* color: yellow; */
}

.type2
/* VORKONGRESS */

{
    /* color: green; */
}

.type3
/* NACHKONGRESS */

{
    /*  color: orange; */
}

.button.button-assertive {
    background-color: #b61e3a !important;
}

.loading-container {
    bottom: 47px !important;
}

.loading-container .loading {
    background-color: transparent !important;
}

div.loading-container.visible.active {
    background-color: white;
}

ion-spinner.spinner.spinner-ios {
    stroke: #b61e3a !important;
}

.backdrop.visible {
    visibility: hidden !important;
}

i.ion.ion-close {
    color: white !important;
    font-size: 22px !important;
}

button.button.button-clear.item-button-left.button-primary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ion-header-bar.bar.bar-header.bar-stable.customModal {
    background-color: #b61e3a !important;
}

ion-header-bar.bar.bar-header.bar-stable.customModal h1 {
    color: white !important;
}

.active .modal-backdrop-bg {
    opacity: 0 !important;
}

.modal {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

.platform-ios ion-header-bar.bar.bar-header.bar-stable.customModal {
    padding-top: 20px !important;
}

.platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px !important;
}

.platform-ios ion-header-bar.bar.bar-header.bar-stable.customModal h1 {
    margin-top: 17px !important;
}

.platform-ios.platform-cordova .modal-wrapper .modal .has-header {
    top: 64px !important;
}

.homeBtn i,
.searchBtn i {
    font-size: 22px;
    color: #b61e3a;
}

i {
    color: #b61e3a;
}

@media only screen and (min-width: 600px) {
    ion-header-bar.bar {
        height: 64px;
    }
    ion-header-bar.bar .title {
        height: 63px;
        line-height: 64px !important;
        font-size: 20px !important;
    }

    ion-content.has-header {
        top: 64px;
    }

    .homeBtn i,
    .searchBtn i {
        font-size: 28px !important;
    }

}


h1 {
  font-size: 20px;
  line-height: 1.6em;
  font-weight: 400;
  color: #b61e3a;
}
h2, .item h2 {
  font-size: 16px;
  line-height: 1.6em;
}
h3, .item h3 {
  font-size: 14px;
  line-height: 1em;
}
p, .item p, a, .item a, .item {
  font-size: 14px;
}

@media(min-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2, .item h2 {
    font-size: 20px;
  }
  h3, .item h3 {
    font-size: 16px;
  }
  p, .item p, a, .item a, .item {
    font-size: 17px;
    line-height: 1.7em;
  }
}

ion-header-bar.bar, .homeBtn {
  display: flex;
  align-items: center;
}

.platform-ios .header-item {
  margin-top: 0px !important;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  align-items: center;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  margin-top: 0px !important;
}
.platform-ios .bar-stable .custom-btn {
  display: flex;
  align-items: center;
}

.platform-ios .modal ion-header-bar.bar .title {
  line-height: 83px !important;
}
.platform-ios ion-header-bar.bar.bar-header.bar-stable.customModal h1 {
  margin-top: 0px !important;
}

.bar.bar-stable {
  background-color: white !important;
  border-bottom: 1px solid #ddd;
}
.bar-stable .button {
  background-color: transparent;
}

@media(min-width: 768px) {
  .platform-ios .tab-program .button-bar {
    margin-top: 88px;
  }

    .platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader,
    .platform-ios.platform-cordova .modal-wrapper .modal .has-header
    {
    top: 74px !important;
    }
    .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader),
    .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader){
    height:74px !important;
    }
    .platform-ios .bar-stable .buttons-left, .platform-ios .bar-stable .buttons-right,
    .platform-ios .bar-stable .back-button{
    padding-top: 10px;
    }
    .platform-ios ion-header-bar.bar .title {
    height:73px !important;
    line-height: 0px !important;
    }
}

@media(max-width: 767px) {
  .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height:50px;
    display: flex;
    align-items: center;
  }
  .platform-ios .header-item {
    padding-top: 0px;
  }
  .platform-ios ion-content#tab-programm {
    margin-top: 29px;
  }
}
