.goBack .ion-chevron-left {
    font-size: 22px;
    color: #b61e3a;
}

.fullWidth {
    float: left;
    width: 100%;
}

#courseType {
    color: #b61e3a;
    margin: 0;
}

#courseTitle {
    color: black;
    margin: 0;
}

#courseSubtitle {
    font-size: 18px;
    color: darkgray;
}

#courseTime i,
#courseLocation i {
    color: #b61e3a;
    font-size: 22px;
}

#courseTime,
#courseLocation {
    padding-top: 15px;
}

#courseStart,
#courseEnd,
#courseLocationText,
#courseLocationLink {
    font-size: 16px;
    font-weight: 400;
}

.upperSection {
    float: left;
    padding: 20px;
}

.speakerSection,
.handoutSection {
    float: left;
    width: 100%;
    height: 100px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.handoutSection {
    border-top: none;
    justify-content: left;
}

.modalBorder {
  border-top: 1px solid lightgray !important;
}

#speakerImage {
    float: left;
    width: 80px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#handoutImage {
    float: left;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

#speakerImage img {
    object-fit: cover;
    width: 60px;
    display: flex;
    align-items: left;
    justify-content: left;
}

#handoutImage img {
    object-fit: cover;
    width: 60px;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    padding-right: 20px;
}

#speakerName,
#handoutInfo {
    float: left;
    font-size: 17px;
    color: black;
    font-weight: 500;
}

#speakerName {
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#handoutInfo {
    font-size: 20px;
}

#speakerName #country {
    font-size: 14px;
    font-weight: normal;
}

#speakerLinking {
    margin-left: auto;
    float: right;
}

#speakerLinking .ion-chevron-right {
    font-size: 22px;
    justify-content: right;
    color: #b61e3a;
}

.courseContent {
    padding: 20px;
}

#courseHeader {
    float: left;
    padding-top: 15px;
    line-height: 35px;
    font-size: 22px;
    color: black;
    font-weight: 500;
    color: #b61e3a;
}

#courseText {
    font-size: 16px;
    padding-bottom: 20px;
}

#courseLocationLink,
#handoutInfo {
    cursor: pointer;
}

.back-text {
    display: none !important;
}

i.icon.ion-ios-arrow-back {
    color: #b61e3a;
}

div.speakerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 20px;
}

.akPoints {
    float: left;
    width: auto;
    font-size: 16px;
    padding-right: 5px;
}

.speakerSection:nth-child(1n+3) {
    border-top: none !important;
}

.calendarBtn i {
    font-size: 22px;
    color: #b61e3a;
}

.outer-wrapper {
    float: left;
    width: 100%;
    position: relative;
    height: auto;
}

.courseTimeWrapper {
    width: 50%;
    height: auto;
    position: relative;
    float: left;
    text-align: left;
}

.locationWrapper {
    width: 50%;
    height: auto;
    position: relative;
    float: left;
    text-align: right;
}

.pointWrapper {
    width: 30%;
    height: auto;
    position: relative;
    float: left;
    text-align: left;
    padding-top: 10px;
}

.button.icon-left:before {
    padding-right: .5em;
    font-size: 18px;
    line-height: 35px;
}

.button.button-assertive {
    font-size: 13px;
    position: relative;
    float: right;
    max-width: 70%;
    margin-top: 30px;
    min-height: 30px;
    line-height: 35px;
}

.button.button-positive {
    font-size: 13px;
    position: relative;
    float: right;
    max-width: 70%;
    margin-top: 30px;
    min-height: 30px;
    line-height: 35px;
}

@media(min-width: 415px) {
    #courseHeader {
        font-size: 24px;
    }
    #courseText {
        font-size: 16px;
    }
    #courseType {
        font-size: 24px;
    }
    #courseTitle {
        font-size: 22px;
    }
    #courseStart,
    #courseEnd,
    #courseLocationText,
    #courseLocationLink, .akPoints {
        font-size: 19px;
        line-height: 1.3em;
    }
    #courseSubtitle {
        font-size: 20px;
    }
    #courseTime i,
    #courseLocation i {
        font-size: 26px;
    }
}
