.filterModalView .title {
    font-weight: 600;
}

.filterModalView .checkbox-assertive input:checked:before, 
.filterModalView .checkbox-assertive input:checked + .checkbox-icon:before {
    border-color: #b61e3a;
    background-color: #b61e3a;
}

.filterModalView .item-checkbox {
    padding: 10px;
    padding-left: 60px;
    text-align: left;
    border: none;
    font-size: 16px;
    line-height: 25px;
}

.filterModalView .checkbox input, .checkbox-icon {
    height: 25px;
    width: 25px;
}

.filterModalView .checkbox input:before, .filterModalView .checkbox .checkbox-icon:before {
    color: #b61e3a;
}


#modelCloseLogo {
    width: 30px;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
}

#filter_container {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}

.filter_txt {
    width: 100%;
    position: relative;
    float: left;
    color: #000;
    margin-bottom: 10px;
}

.filter_headline {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    float: left;
    height: auto;
}

.filter_headline h1{
    color: #b61e3a;
    margin: 0;
}

.filter_item {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #CBCBCB;
    text-align: center;
    padding: 10px;
    position: relative;
    float: left;
    padding-bottom: 15px;
}

.filterModalView input {
    height: 40px;
    border: 1px solid #CBCBCB;
    background-color: white;
    position: relative;
    float: left;
    font-size: 14px;
    -webkit-appearance: none;
    outline: 0;
    padding: 5px;
    padding-left: 0.5em;
}

#input_name {
    width: 92.5%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.filterModalView .scroll {
    height: 100%;
}

.filter-save-button {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-transform: uppercase;
    font-size: 16px !important;
}

@media only screen and (min-width: 768px) {
    .filter_item {
        padding: 30px;
        padding-bottom: 30px;
    }

    .filter_item span {
        font-size: 18px;
    }

    .filterModalView .checkbox input, .checkbox-icon {
        height: 28px;
        width: 28px;
    }

    .filterModalView .item-checkbox {
        line-height: 28px;
    }
}