.homeView .titleImageContainer,
.homeView .actionContainer {
    width: 100%;
    height: 50%;
}

.homeView .titleImageContainer {
    background-color: #fff;
}

.homeView .has-header {
    top: 0px !important;
}

.homeView .actionContainer .row {
    height: 50%;
    padding: 0px;
    margin-top: 0px;
}

.homeView .actionContainer .row > div {
    width: 100%;
    background-color: #b61e3a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeView .actionContainer .row > div .action {
    text-align: center;
}

.homeView .actionContainer .row > div .action .actionImage,
.homeView .actionContainer .row > div .action actionTitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homeView .actionContainer .row > div .action .actionImage {
    margin-bottom: 13px;
    height: 50px;
}

.homeView .actionTitle {
    font-size: 19px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
}

.homeView .actionContainer .row > div:nth-child(even) {
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.homeView .actionContainer .row > div:nth-child(odd) {
    border-bottom: 1px solid #FFFFFF;
}

.homeView .titleImageContainer {
    text-align: center;
}

.homeView .titleImageContainer img {
    margin-top: 15%;
}

.homeView .titleImageContainer #homeTitle {
    color: #b61e3a;
    margin-bottom: 7.5%;
    font-weight: 600;
    font-size: 21px;
}


.homeView .titleImageContainer #homeSubtitle {
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
}

@media (min-width: 415px) {
    .homeView .actionContainer .row > div .action .actionTitle {
        font-size: 22px;
    }
    .homeView .titleImageContainer #homeTitle {
        font-size: 35px;
        margin-bottom: 5.5%;
    }
    .homeView .titleImageContainer #homeSubtitle {
        font-size: 29px;
        line-height: 38px;
    }
    .homeView .titleImageContainer img {
        width: 50%;
    }
    .homeView .actionContainer .row > div .action .actionImage {
        margin-bottom: 17px;
        height: 62px;
    }
    .homeView .actionContainer .row > div .action .actionTitle {
        font-size: 28px;
    }
}

@media (max-width: 320px) {
    .homeView .actionContainer .row > div .action .actionTitle {
        font-size: 14px;
    }
    .homeView .titleImageContainer #homeTitle {
        font-size: 20px;
    }
    .homeView .titleImageContainer #homeSubtitle {
        font-size: 14px;
    }
}

@media (max-width: 320px) and (max-height: 480px) {
    .homeView .actionContainer .row > div .action .actionTitle {
        font-size: 12px;
    }
    .homeView .actionContainer .row > div .action .actionImage {
        height: 35px;
    }
}