.back-text {
    display: none !important;
}

.back-button .icon {
    color: #b61e3a!important;
}

.priceSection {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.groupDesc {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin: 0;
}

.priceSection h3 {
    font-size: 15px;
    font-weight: 400;
    color: black;
    margin-top: 0;
}

.priceSection table,
.priceSection tr,
.priceSection td,
.priceSection th {
    border: 1px solid darkgrey;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    vertical-align: middle;
}

.priceSection tr:nth-child(1) th {
    background-color: #b61e3a;
    color: white;
    font-size: 13px;
}

.priceSection tr th {
    font-weight: 600;
}

.priceSection tr:nth-child(even) {
    background-color: #eee;
}

.priceSection table {
    width: 100%;
}

.priceSection td,
.priceSection th {
    width: 33%;
}

.priceSection {
    display: flex;
    flex-direction: column;
}

@media(min-width: 415px) {}


/* ------------------------------------------------------------ */
/*                     CSS FOR INFORMATION SCREEN               */
/* ------------------------------------------------------------ */

.information h1, .information h2, .information h3 {
  font-family: Helvetica;
  font-weight: 400;
}
.information h1 {
  font-size: 22px;
  font-weight: 400;
}
.information h2 {
  font-size: 18px;
}
.information h3 {
  font-size: 18px;
}
.information bold {
  font-weight: bold;
}
.information a {
  text-decoration: underline;
  color: black;
}
.information #headline {
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.information #subline {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.information .wrapper {
  padding-bottom: 20px;
}

@media(min-width: 415px) {
  .information h1 {
    font-size: 22px;
  }
  .information h2 {
    font-size: 20px;
  }
  .information h3 {
    font-size: 18px;
  }
  .information #headline {
    font-size: 25px;
  }
  .information #subline {
   font-size: 25px;
  }
}


/* ------------------------------------------------------------ */
/*                     CSS FOR CONTACT SCREEN                   */
/* ------------------------------------------------------------ */

.contactView img
{
  max-width: 150px;
}

.contactPerson, a[x-apple-data-detectors]
{
  text-decoration: none !important;
}
