.back-text {
    display: none !important;
}

.back-button .icon {
    color: #b61e3a!important;
}

.priceSection {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.groupDesc {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin: 0;
}

.priceSection h3 {
    font-size: 15px;
    font-weight: 400;
    color: black;
    margin-top: 0;
}

.priceSection table,
.priceSection tr,
.priceSection td,
.priceSection th {
    border: 1px solid darkgrey;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    vertical-align: middle;
}

.priceSection tr:nth-child(1) th {
    background-color: #b61e3a;
    color: white;
    font-size: 13px;
}

.priceSection tr th {
    font-weight: 600;
}

.priceSection tr:nth-child(even) {
    background-color: #eee;
}

.priceSection table {
    width: 100%;
}

.priceSection td,
.priceSection th {
    width: 33%;
}

.priceSection {
    display: flex;
    flex-direction: column;
}

@media(min-width: 415px) {}


/* ------------------------------------------------------------ */
/*                     CSS FOR INFORMATION SCREEN               */
/* ------------------------------------------------------------ */


.information bold {
  font-weight: bold;
}
.information a {
  text-decoration: underline;
  color: black;
}
.information #headline {
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.information #subline {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.information .wrapper {
  padding-bottom: 20px;
}


/* ------------------------------------------------------------ */
/*                     CSS FOR CONTACT SCREEN                   */
/* ------------------------------------------------------------ */

.contactView {
  padding-top: 20px;
}

.contactView h1:first-of-type {
  padding-bottom: 20px;
}


#image-wrapper img
{
  max-height: 170px !important;
  float: left;
  position: relative;
  margin-right: 20px;
  object-fit: cover;
}

#image-wrapper {
  float: left;
  width: auto;
  margin-right: 20px;
  height:100%;
}

.contactPerson, a[x-apple-data-detectors]
{
  text-decoration: none !important;
}

#contactPerson {
  float: left;
  width: auto;
  justify-content:flex-start;
  height:100%;
  padding-bottom: 20px;
}

#contactPerson a, #contactPerson p {
  padding-bottom: 10px;
  margin-bottom: 0px;
}


#info-wrapper {
  float: left;
  position: relative;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content:flex-start;

}

.no-action {
  pointer-events: none !important;
  text-decoration: none !important;
}
.no-border, #contactPerson a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.no-border i, #contactPerson i {
  padding-right: 10px;
  font-size: 24px;
}




.contactInfosWrapper {
  padding-bottom: 20px;
}

@media(max-width: 414px) {
  #image-wrapper img {
    max-height: 100px !important;
    margin-right: 10px !important;
  }
  .no-border i, #contactPerson i {
    font-size: 18px !important;
  }
  #contactPerson a, #contactPerson p {
    padding-bottom: 5px;
    margin-bottom: 0px;
  }
}
@media(max-width: 320px) {
  #image-wrapper img {
    max-height: 80px !important;
    margin-right: 10px !important;
  }
  .no-border i, #contactPerson i {
    font-size: 14px !important;
  }
}
