.goBackButton i {
  font-size: 22px;
  color: #b61e3a;
}

.informationSection .fullWidth {
  float: left;
  width: 100%;
  line-height: 24px;
}

.speakerUpperSection {
  float: left;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid #ddd;
}

.speakerUpperSection .informationSection {
  float: left;
  width: auto;
  padding-left: 40px;
}

.speakerUpperSection img {
  width: 75px;
  height:auto;
  float: left;
}

.informationSection #name {
  color: #b61e3a;
  font-weight:500;
  line-height:25px;
}

.informationSection #profession {
  color: #b61e3a;
  font-weight:500;
}

.informationSection #country {
  font-weight:500;
}

.speakerEventsWrapper {
  float: left;
  width: 100%;
  padding: 5px 10px 0px 10px;
  border-bottom: 1px solid #ddd;
}
.speakerEventsWrapper .headline {
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight:500;
  color: #b61e3a;
}
 .eventRow {
  float: left;
  width: 100%;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: left;
}
.eventRow {
  border-top: none;
  border-bottom: 1px solid #ddd;
  padding: 0px 10px 5px 10px;
  margin-bottom: 10px;
}

.eventRow:last-of-type {
  border: none;
  margin-bottom: 5px;
}

.courseContent {
  padding: 10px;
  float: left;
  position: relative;
  width: 100%;
}

#courseHeader {
  font-weight:500;
  color: #b61e3a;
  float: left;
  width: 100%;
  padding-bottom: 5px;
  line-height:35px;
}

#courseText {
  padding: 0px 0px 5px 10px;
  width: 100%;
  float: left;
  position: relative;
}


.timeWrapper.leftAligned {
  text-align: left !important;
  border: none !important;
}
.timeWrapper #day {
  text-transform: uppercase;
}
.speakerEventsWrapper .detailBox{
  margin-left: auto;
}
.speakerEventsWrapper .infoWrapper {
  padding-left: 20px;
}
#nachname {
  text-transform: uppercase;
}

.speakerEventsWrapper .timeWrapper
{
  text-align: center;
  border: none !important;
}

div.timeWrapper.leftAligned {
  padding-right: 20px;
}


.back-text {
  display: none !important;
}
i.icon.ion-ios-arrow-back {
  color: #b61e3a;
}
