.homeBtn i,
.searchBtn i {
    font-size: 22px;
    color: #b61e3a;
}

.item-divider {
    background-color: #b61e3a;
    color: white;
}

.programRow {
    padding-left: 0px !important;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dividerLine {
    color: white;
    background-color: #b61e3a;
    font-size: 12px;
    height: 22px;
    padding: 0px;
    padding-left: 20px;
    min-height: 22px;
}

.timeWrapper {
    position: relative;
    float: left;
    width: 50px;
    text-align: center;
    height: 100%;
    font-size: 12px;
}

.programType {
    color: #b61e3a;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.programName {
    font-size: 16px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.programAuthor {
    font-size: 14px;
    color: darkgray;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.infoWrapper {
    position: relative;
    float: left;
    max-width: 75%;
    overflow-x: hidden;
}

.detailBox {
    position: relative;
    float: right;
    font-size: 22px;
    color: #b61e3a;
    padding-left: 10px;
}

.list {
    margin-bottom: 0px;
}

.eventRow {
    float: left;
    width: 100%;
    border-left: none;
    border-right: none;
}

.eventRow:nth-child(1) a {
    border-top: none;
}

.dividerLine {
    justify-content: left;
}

.noPaddingTop {
    padding-top: 0px;
}

@media only screen and (min-width: 415px) {
    .programRow {
        justify-content: flex-start;
        padding: 10px !important;
        padding-left: 20px !important;
        width: 100%;
    }
    .timeWrapper {
        text-align: left;
        font-size: 16px;
    }
    .infoWrapper {
        padding-left: 20px;
        width: 95%;
        max-width: 95%;
        height: 100%;
    }
    .dividerLine {
        font-size: 15px;
        line-height: 25px;
        height: 28px;
    }
    .programType {
        font-size: 20px;
        line-height: 25px;
    }
    .programName {
        font-size: 19px;
        line-height: 24px;
    }
    .programAuthor {
        font-size: 17px;
        line-height: 22px;
    }
    .detailBox {
        font-size: 30px;
    }
}