.anfahrt h1 {
  font-family: Helvetica;
  font-size: 22px;
  text-transform: uppercase;
  font-weight:400;
  color: #b61e3a;
}

.anfahrt h2 {
  font-family: Helvetica;
  font-size: 16px;
  line-height:10px;
  font-weight: 600;
}

#verkehrsmittelHeadline {
  padding-top: 20px;
}

@media(min-width: 415px) {
  .anfahrt h1 {
    font-size: 25px;
  }
  .anfahrt h2 {
    font-size: 22px;
    line-height:18px;
  }
}
