#info-tab-view .infoWrapper {
  float: left;
  position: relative;
}

.info-tab .item {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0px;
}
#info-tab-view .infoDetailChevron {
  float: right;
  margin-left: auto;
  padding-left: 15px;
  font-size:22px;
  color: #b61e3a;
}
#info-tab-view a.item:nth-child(1) {
  border-top: none;
}

#info-tab-view .info-tab h2, .info-tab p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#info-tab-view .item .item-image {
  width: 40px !important;
  position: relative !important;
  float: left !important;
  top: 0px !important;
  left: 0px !important;
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 320px) {

  #info-tab-view .item .item-image {
    width: 30px !important;
    margin-left: 0px !important;
  }
  .item {
    padding: 10px !important;
  }

}


@media(min-width: 415px) {

  #info-tab-view .info-tab .item {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}
