<link href="templates/css/courseInfo.css" rel="stylesheet">
<ion-view view-title="Kongressprogramm">
    <ion-content class="courseDetailView">

        <div class="upperSection">

            <h1 id="courseType" class="fullWidth" ng-class="{type0: $root.currentProgram.typeString == 'Vortrag', type1: $root.currentProgram.typeString == 'Workshop', type2: $root.currentProgram.typeString == 'Vorkongress', type3: $root.currentProgram.typeString == 'Nachkongress'}">{{$root.currentProgram.typeString}}</h1>
            <h2 id="courseTitle" class="fullWidth">{{$root.currentProgram.TitelGER}}</h2>
            <div class="outer-wrapper">
                <div class="courseTimeWrapper">
                    <p id="courseTime" class="fullWidth"><i class="ion-clock"></i></p>
                    <p id="courseStart" class="fullWidth">Beginn: {{$root.currentProgram.startZeit}}</p>
                    <p id="courseEnd" class="fullWidth">Ende: {{$root.currentProgram.endZeit}}</p>
                </div>

                <div class="locationWrapper">
                    <p id="courseLocation" class="fullWidth"><i class="ion-location"></i></p>
                    <p id="courseLocationText" class="fullWidth">{{$root.currentProgram.Seminarraum}}</p>
                    <p id="courseLocationLink" class="fullWidth" ng-click="openRaumplan()">Raumplan</p>
                </div>
            </div>
            <div class="pointWrapper">
                <p id="courseLocation" class="fullWidth"><i class="ion-ribbon-b"></i></p>
                <p ng-if="$root.currentProgram.AKPunkte != null" class="akPoints">AK-Punkte:</p>
                <p ng-if="$root.currentProgram.AKPunkte != null" class="akPoints">{{$root.currentProgram.AKPunkte}}</p>
            </div>
            <button class="button icon-left ion-calendar button-assertive" ng-click="addToCalendar()" ng-if="!eventAdded">Termin eintragen</button>
            <button class="button icon-left ion-checkmark button-positive" ng-if="eventAdded">Hinzugefügt</button>
        </div>

        <div class="speakerSection" ng-repeat="speakerObject in $root.currentProgram.speakers" ng-click="openSpeakerModal('{{speakerObject.ReferentId}}')">
            <div class="speakerContainer">
                <div id="speakerImage"><img ng-src="{{speakerObject.Bild}}" /></div>
                <div id="speakerName">
                    <p id="country">
                        <p ng-if="speakerObject.AkadgradPre != ''">{{speakerObject.AkadgradPre}}<br></p>
                    </p>
                    {{speakerObject.Vorname}} {{speakerObject.Name}} {{speakerObject.AkadGradPost != "" ?
                    ', ' + speakerObject.AkadGradPost : ""}}
                    <br>
                    <p id="country">{{speakerObject.Land}}</p>
                </div>
                <div id="speakerLinking"><i class="ion-chevron-right"></i></div>
            </div>
        </div>

        <div class="handoutSection" ng-click="openLink('{{$root.currentProgram.Handout}}')">

            <div id="handoutImage"><img src="img/icons/pdf_logo.jpg" />Handout downloaden</div>
            <!--<div id="handoutInfo" ></div>-->

        </div>

        <div class="courseContent" ng-if="$root.currentProgram.BeschreibungGER != null">

            <p id="courseHeader" class="fullWidth">Inhalt</p>
            <p id="courseText" class="fullWidth" ng-bind-html="$root.currentProgram.BeschreibungGER"></p>

        </div>

    </ion-content>
</ion-view>
