<link href="templates/css/info_detail.css" rel="stylesheet">

<ion-view view-title="Informationen">
  <ion-content class="information" scroll="true" padding="true">

    <div class="wrapper">
    <h1 id="headline">22. - 24. September 2016 in Graz<br></h1>
    <h1 id="subline">TAO Kongress - Aus der Praxis für die Praxis<br><br></h1>

      <h1>Wichtige Informationen!</h1>

    <a ng-click="openInAppBrowser('http://www.tcmkongress.at/Dokumente/Get/20')">Anmeldeformular</a><br>
    <a ng-click="openInAppBrowser('http://www.tcmkongress.at/Dokumente/Get/19')">TAO-Folder</a>


    <p><br>In diesem Jahr haben wir unter dem Titel <bold>"Aus der Praxis für die Praxis"</bold> folgende Schwerpunktthemen für Sie vorbereitet: Burn-out - Klimakterium - Reizdarm - Allergie - Schlafstörungen - Begleitung bei Chemotherapie. Dies und noch viel mehr gibt es bei unserem Kongress zu sehen und zu hören.<br><br>
      Am Donnerstag, den 22. September 2016 werden vier Themenbereiche bearbeitet, wobei jedes Thema mit jeweils einem Workshop zu Syndromdiagnostik, Akupunktur, chinesischen Kräutern und westlichen Kräutern über den ganzen Tag abgehandelt wird. Durch die  spezielle Aufteilung ist es möglich, ein Thema entweder den ganzen Tag von allen Seiten beleuchtet zu hören, oder aber vier Themen aus Sicht der Akupunktur oder chinesischen Kräuter-Medizin oder der westlichen Kräuter-Medizin zu erfahren.
      <br><br>Weiters wird wieder eine neue Art der Akupunktur, die <bold>SaAm Akupunktur</bold> aus Korea, vorgestellt.<br><br>
      An allen drei Kernkongress-Tagen (22.-24.09.2016) werden <bold>ganztägig praxisorientierte WORKSHOPS</bold> abgehalten. Wir bitten Sie, sich für die gewünschten Workshops anzumelden. Nach Maßgabe freier Plätze können Sie natürlich auch andere Workshops besuchen. Bei Workshops mit Teilnehmerbegrenzung ist eine fixe Anmeldung unbedingt erforderlich. Die Vergabe der Plätze erfolgt nach Einlangen der Anmeldung.
      <br><br>
      Am Samstag, veranstaltet der Verein g5e wieder einen <a ng-click="openInAppBrowser('http://www.tcmkongress.at/Inhalte/Index/1004')">ERNÄHRUNGSTAG</a>. Für Kongressteilnehmer sind die Workshops in der Kongressgebühr inkludiert.

      <br><br>
      <bold>Frühbucherbonus bis 31. Mai 2016!</bold>
      <br><br>

      <bold>Neu ist</bold>, dass die <bold>PLENUMSVORTRÄGE</bold> nun am <bold>Freitag</bold> in der Zeit von <bold>08.30 - 12.30 Uhr</bold> und am <bold>Samstag von 10.30 - 12.30 Uhr</bold> stattfinden werden.
      <br><br>
      Sowohl bei den Workshops, als auch bei den Vorträgen ist der Zutritt nur TeilnehmerInnen mit gültigem Kongressausweis (Namenskärtchen) gestattet!
      <br><br>
      Die <bold>Handouts</bold> aller Workshops werden im PDF Format auf der Kongress Homepage in einem gesicherten Bereich veröffentlicht. Kurz vor Kongressbeginn bekommen Sie per Mail/Post einen Link, unter dem Sie die Handouts herunterladen und ausdrucken können. Die <bold>CD</bold> mit den Handouts aller Workshops erhalten Sie am Kongress gratis.
      <br><br>
      Für die 3-Tageskarte wird um <bold>24 DFP Punkte</bold> bei der <bold>ÖÄK</bold> angesucht. Um die DFP-Punkte direkt an die ÖÄK melden zu können, benötigen wir Ihre Arztnummer.
    </p>

    <h1><br>Rahmenprogramm:<br></h1>
    <h2>Donnerstag, 22.09.2016<br></h2>
    <p>• 18.00 Uhr Sektempfang in der Vorklinik
    <br>• 18.30 Uhr <bold>Stadtspaziergang „Hofhalten“</bold> (Dauer: 2 Stunden) Versteckte Plätzchen oder repräsentative Prachtanlagen, lauschige Arkaden oder meditative Rückzugsorte – das sind die Grazer Innenhöfe. Begeben Sie sich mit einem Guide auf Spurensuche durch Zeit und Raum in der Grazer Innenstadt. Seien Sie versichert, es wird sich auch für Graz-Kenner das ein oder andere unbekannte Kleinod erschließen.</p>
    <h2>Freitag, 23.09.2016<br></h2>
    <p>• 18.45 Uhr Get-together (Abendessen mit musikalischer Untermalung) im Gasthaus Gösser Bräu Graz. (3-gängiges steirisches Menü inkl. einem Getränk. Kosten: € 30,00/Person)</p>

    </div>
  </ion-content>
</ion-view>

