<link href="templates/css/info_detail.css" rel="stylesheet">

<ion-view view-title="Kontakt">
  <ion-content class="information" scroll="true" padding="true">

    <div class="wrapper contactView">


      <h2><strong>Österreichische Gesellschaft für Kontrollierte Akupunktur und TCM</strong></h2>
      <div class="contactInfosWrapper">
        Glacisstraße 7 <br>
        A-8010 Graz<br>
        Tel.: <a href="tel: 00433163740500"> +43 (0)316 374050-0</a><br>
        Fax: +43 (0)316 374050-55<br>
        E-Mail: <a href="mailto: office@ogka.at">office@ogka.at</a><br>
        Web: <a ng-click="openInAppBrowser('http://www.ogka.at')" target="_blank">www.ogka.at</a>, <a ng-click="openInAppBrowser('http://www.tcmkongress.at')" target="_blank">www.tcmkongress.at</a><br>
        UID Nr.: ATU 50052008<br>
      </div>

      <h3><strong>Ansprechperson:</strong></h3>
      <img src="http://www.tcmkongress.at/Content/Downloads/Original/8d52b5e4-dc21-4429-b401-7efbc0c36e09.png"/>
      <div class="contactPerson">
        <strong> Frau Mag. Renate Pleterski</strong><br>
        E-Mail:<br>
        <a href="mailto: tcmkongress@ogka.at">tcmkongress@ogka.at</a> <br>
        <a href="mailto: renate.pleterski@ogka.at" >renate.pleterski@ogka.at</a><br>
      </div>
    </div>
  </ion-content>
</ion-view>

