<link href="templates/css/info_detail.css" rel="stylesheet">

<ion-view view-title="Kontakt">
  <ion-content class="information" scroll="true" padding="true">

    <div class="wrapper contactView">


      <h1><strong>Österreichische Gesellschaft für Kontrollierte Akupunktur und TCM</strong></h1>
      <div class="contactInfosWrapper">
        <a class="item no-border no-action"><i class="ionicon ion-home"></i>Glacisstraße 7 | A-8010 Graz</a>

        <a class="item no-border" href="tel: 00433163740500"><i class="ionicon ion-ios-telephone"></i>+43 (0)316 374050-0</a>

        <a class="item no-border no-action"><i class="ionicon ion-printer"></i>+43 (0)316 374050-55</a>

        <a class="item no-border" href="mailto: office@ogka.at"><i class="ionicon ion-email"></i>office@ogka.at</a>

        <a class="item no-border" ng-click="openInAppBrowser('http://www.ogka.at')" target="_blank">
          <i class="ionicon ion-ios-browsers"></i>www.tcmkongress.at</a>

        <a class="item no-border no-action"><i class="ionicon ion-card"></i>UID Nr.: ATU 50052008</a>
      </div>

      <div id="info-wrapper">
        <div id="image-wrapper">
      <img src="http://www.tcmkongress.at/Content/Downloads/Original/8d52b5e4-dc21-4429-b401-7efbc0c36e09.png"/>
        </div>
      <div id="contactPerson">
        <h1>Ansprechperson:</h1>
        <p><strong><i class="ionicon ion-person"></i>Frau Mag. Renate Pleterski</strong></p>

        <a href="mailto: tcmkongress@ogka.at"><i class="ionicon ion-email"></i>tcmkongress@ogka.at</a>
        <a href="mailto: renate.pleterski@ogka.at"><i class="ionicon ion-email"></i>renate.pleterski@ogka.at</a>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>

