<link href="templates/css/info_detail.css" rel="stylesheet">

<ion-view view-title="Partner">
  <ion-content class="partners" scroll="true" padding="true">
    <div class="list noPaddingList" ng-repeat="(key, value) in data">
            <div class="item item-divider dividerLine">
                {{key}}
            </div>
            <a class="item programRow" ng-repeat="entry in value" ng-click="openInAppBrowser(entry.link)">
                <span>{{entry.title}}</span>
                <div class="detailBox">
                    <i class="ion-chevron-right"></i>
                </div>
            </a>
        </div>
  </ion-content>
</ion-view>

