<link href="templates/css/info_detail.css" rel="stylesheet">

<ion-view view-title="Kongresstarife">
    <ion-content class="prices" scroll="true">

        <div class="priceSection" ng-repeat="values in data">
            <h2 class="groupDesc">
                {{values.BezeichnungGER}}
            </h2>
            <!--<h3>
                {{values.BeschreibungGER}}
            </h3>-->
            <table>
                <tr>
                    <th>Ticket</th>
                    <th>Preis</th>
                    <!--<th>Frühbucher-Preis</th>-->
                </tr>
                <tr ng-repeat="prices in values.Preise">
                    <th>{{prices.PreisbezeichnungGer}}</th>
                    <td>{{prices.Preis}} €</td>
                    <!--<td>{{prices.PreisFruehbucher}} €</td>-->
                </tr>
            </table>
        </div>

    </ion-content>
</ion-view>
