<link href="templates/css/speakerDetail.css" rel="stylesheet">
<link href="templates/css/tab-programm.css" rel="stylesheet">

<ion-view view-title="Referent" class="speakerDetailView">
  <ion-modal-view>

  <ion-header-bar class="bar bar-header bar-stable">
    <button class="button button-clear item-button-left button-primary" ng-click="modal.hide()"><i class="ion ion-close"></i></button>
    <h1 class="title">Speaker</h1>
  </ion-header-bar>


  <ion-content class="speakerDetailContent">

    <div class="speakerUpperSection">
      <div class="imageSpeaker"><img ng-src="{{speakerDataModel.Bild}}"/></div>

      <div class="informationSection">
        <span class="fullWidth" id="profession">{{speakerDataModel.AkadgradPre}}</span>
        <span class="fullWidth" id="name">{{speakerDataModel.Vorname}} <span id="nachname">{{speakerDataModel.Name}}</span></span>
        <span class="fullWidth" id="country">{{speakerDataModel.Land}}</span>
      </div>
    </div>

    <div class="speakerEventsWrapper">

      <span class="headline">Events</span>

      <a class="item eventRow" id="test">
      <div class="timeWrapper leftAligned">
       <span id="day">FR</span><br>22.09
      </div>
        <div class="timeWrapper">
         09:30<br> - <br>09:45
        </div>
        <div class="infoWrapper">
          <div class="programType" ng-class="{type0: entry.type == 'Vortrag', type1: entry.type == 'Workshop', type2: entry.type == 'Vorkongress', type3: entry.type == 'Nachkongress'}">Vortrag</div>
          <div class="programName">Das ist eine Test Headline</div>
          <div class="programAuthor">Hier kommt ein zusätzlicher Titel</div>
        </div>
        <div class="detailBox">
          <i class="ion-chevron-right"></i>
        </div>
      </a>

      <a class="item eventRow">
        <div class="timeWrapper leftAligned">
          <span id="day">FR</span><br>22.09
        </div>
        <div class="timeWrapper">
          09:30<br> - <br>09:45
        </div>
        <div class="infoWrapper">
          <div class="programType" ng-class="{type0: entry.type == 'Vortrag', type1: entry.type == 'Workshop', type2: entry.type == 'Vorkongress', type3: entry.type == 'Nachkongress'}">Vortrag</div>
          <div class="programName">Das ist eine Test Headline</div>
          <div class="programAuthor">Hier kommt ein zusätzlicher Titel</div>
        </div>
        <div class="detailBox">
          <i class="ion-chevron-right"></i>
        </div>
      </a>

    </div>

    <div class="courseContent">

      <span id="courseHeader" class="fullWidth">Lebenslauf</span>
      <span id="courseText" class="fullWidth" ng-bind-html="speakerDataModel.BeschreibungGER"></span>

    </div>

  </ion-content>
</ion-modal-view>
  </ion-view>
