<link href="templates/css/speakerDetail.css" rel="stylesheet">
<link href="templates/css/tab-programm.css" rel="stylesheet">

<ion-view view-title="Referent" class="speakerDetailView">

  <ion-nav-buttons side="left">
    <button class="button goBackButton" ng-click="goBack()">
      <i class="ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="speakerDetailContent">

    <div class="speakerUpperSection">

      <div class="imageSpeaker"><img ng-src="img/16.jpg"/></div>

      <div class="informationSection">

        <span class="fullWidth" id="profession">Prof. Dr. med.</span>
        <span class="fullWidth" id="name">Frank <span id="nachname">Bahr</span></span>
        <span class="fullWidth" id="country">Deutschland</span>

      </div>
    </div>

    <div class="speakerEventsWrapper">

      <span class="headline">Events</span>

      <a class="item eventRow" id="test">
      <div class="timeWrapper leftAligned">
       <span id="day">FR</span><br>22.09
      </div>
        <div class="timeWrapper">
         09:30<br> - <br>09:45
        </div>
        <div class="infoWrapper">
          <div class="programType" ng-class="{type0: entry.type == 'Vortrag', type1: entry.type == 'Workshop', type2: entry.type == 'Vorkongress', type3: entry.type == 'Nachkongress'}">Vortrag</div>
          <div class="programName">Das ist eine Test Headline</div>
          <div class="programAuthor">Hier kommt ein zusätzlicher Titel</div>
        </div>
        <div class="detailBox">
          <i class="ion-chevron-right"></i>
        </div>
      </a>

      <a class="item eventRow">
        <div class="timeWrapper leftAligned">
          <span id="day">FR</span><br>22.09
        </div>
        <div class="timeWrapper">
          09:30<br> - <br>09:45
        </div>
        <div class="infoWrapper">
          <div class="programType" ng-class="{type0: entry.type == 'Vortrag', type1: entry.type == 'Workshop', type2: entry.type == 'Vorkongress', type3: entry.type == 'Nachkongress'}">Vortrag</div>
          <div class="programName">Das ist eine Test Headline</div>
          <div class="programAuthor">Hier kommt ein zusätzlicher Titel</div>
        </div>
        <div class="detailBox">
          <i class="ion-chevron-right"></i>
        </div>
      </a>

    </div>

    <div class="courseContent">

      <span id="courseHeader" class="fullWidth">Inhalt</span>
      <span id="courseText" class="fullWidth">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>

    </div>

  </ion-content>

  </ion-view>
