<link href="templates/css/speakerDetail.css" rel="stylesheet">
<link href="templates/css/tab-programm.css" rel="stylesheet">

<ion-view view-title="Referent" class="speakerDetailView">
  <ion-modal-view>

  <ion-header-bar class="bar bar-header bar-stable customModal title-center">
    <button class="button button-clear item-button-left button-primary" ng-click="modal.hide()"><i class="ion ion-close"></i></button>
    <h1 class="title title-center">Referent</h1>
  </ion-header-bar>


  <ion-content class="speakerDetailContent">

    <div class="speakerUpperSection">
      <div class="imageSpeaker"><img ng-src="{{speakerDataModel.Bild}}"/></div>

      <div class="informationSection">
        <span class="fullWidth" id="profession">{{speakerDataModel.AkadgradPre}}</span>
        <span class="fullWidth" id="name">{{speakerDataModel.Vorname}} <span id="nachname">{{speakerDataModel.Name}}</span></span>
        <span class="fullWidth" id="country">{{speakerDataModel.Land}}</span>
      </div>
    </div>

    <!--
    <div class="speakerEventsWrapper">

      <span class="headline">Events</span>

        <div ng-repeat="entry in workshopsSpeaker">
      <a class="item eventRow" id="test">
      <div class="timeWrapper leftAligned">
       <span id="day">FR</span><br>22.09
      </div>
        <div class="timeWrapper">
         {{entry.startZeit}}<br> - <br>{{entry.endZeit}}
        </div>
        <div class="infoWrapper">
          <div class="programType" ng-class="{type0: entry.typeString == 'Vortrag', type1: entry.typeString == 'Workshop', type2: entry.typeString == 'Vorkongress', type3: entry.typeString == 'Nachkongress'}">{{entry.typeString}}</div>
          <div class="programName">{{entry.TitelGER}}</div>
         <div class="programAuthor" ng-bind-html="entry.BeschreibungGER"></div>
        </div>
        <div class="detailBox">
          <i class="ion-chevron-right"></i>
        </div>
      </a>
      </div>
    </div>

    -->

    <div class="courseContent">
      <span id="courseHeader" class="fullWidth">Lebenslauf</span>
      <span id="courseText" class="fullWidth" ng-bind-html="speakerDataModel.BeschreibungGER"></span>
    </div>

  </ion-content>
</ion-modal-view>
  </ion-view>
