<link href="templates/css/speakerDetail.css" rel="stylesheet">
<link href="templates/css/tab-programm.css" rel="stylesheet">

<ion-view view-title="Referent" class="speakerDetailView">


  <ion-content class="speakerDetailContent">

    <div class="speakerUpperSection">

      <img ng-src="{{$root.currentSpeaker.Bild}}" />

      <div class="informationSection">

        <span class="fullWidth" id="profession">{{$root.currentSpeaker.AkadgradPre}}</span>
        <span class="fullWidth" id="name">{{$root.currentSpeaker.Vorname}} <span id="nachname">{{$root.currentSpeaker.Name}}</span></span>
        <span class="fullWidth" id="country">{{$root.currentSpeaker.Land}}</span>

      </div>
    </div>
    <div class="speakerEventsWrapper" ng-if="workshopsSpeaker.length > 0">

      <span id="courseHeader">Events</span>


      <a ng-repeat="entry in workshopsSpeaker" class="item eventRow" id="test" ng-click="openWorkshopModal(entry)">
        <div class="timeWrapper leftAligned">
          <span id="day">FR</span><br>22.09
        </div>
        <div class="timeWrapper smallLineHeight">
          {{entry.startZeit}}<br> - <br>{{entry.endZeit}}
        </div>
        <div class="infoWrapper">
          <div class="programType" ng-class="{type0: entry.typeString == 'Vortrag', type1: entry.typeString == 'Workshop', type2: entry.typeString == 'Vorkongress', type3: entry.typeString == 'Nachkongress'}">{{entry.typeString}}</div>
          <div class="programName">{{entry.TitelGER}}</div>
          <!-- <div class="programAuthor" ng-bind-html="entry.BeschreibungGER"></div> -->
        </div>
        <div class="detailBox">
          <i class="ion-chevron-right"></i>
        </div>
      </a>

    </div>


    <div class="courseContent">

      <span id="courseHeader" class="fullWidth">Lebenslauf</span>
      <span id="courseText" class="fullWidth" ng-bind-html="$root.currentSpeaker.BeschreibungGER"></span>

    </div>

  </ion-content>

</ion-view>