<link href="templates/css/tab-anfahrt.css" rel="stylesheet">
<ion-view view-title="Anfahrt">
  <ion-nav-buttons side="left">
    <button class="button homeBtn" ng-click="goHome()">
        <i class="ion-home"></i>
        </button>
  </ion-nav-buttons>

  <ion-content class="anfahrt">

    <div id="upper-section">
    <h1>Kongressort</h1>
    <h2>Vorklinik der Medizinischen Universität Graz<br>
    Harrachgasse 21<br>
    8010 Graz</h2>

    <h3>Anfahrt mit: </h3>

    <ion-list>
      <div>
        <ion-item class="item" ng-click="toggleGroup(1)" ng-class="{active: isGroupShown(1)}">
          <h3>Öffentliche Verkehrsmittel</h3>
          <i class="icon" ng-class="isGroupShown(1) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
        </ion-item>
        <div class="item-accordion" ng-show="isGroupShown(1)">
          <p>Die Vorklinik ist sowohl mit dem Auto als auch mit den öffentlichen Verkehrsmitteln gut erreichbar.<br></p>
          <ul>
            <li><span>Bus vom Hauptbahnhof: <br>58 (Mozartgasse) oder 63 (Attemsgasse)</span></li>
            <li><span>Bus vom Jakominiplatz:<br> 31 (Uni Mensa), 30 (Mozartgasse), 39 (Attemsgasse)</span></li>
            <li><span>Taxistandplatz – Geidorfplatz</span></li>
          </ul>
          <a ng-click="openInAppBrowser('http://www.verbundlinie.at/busbahnbim-auskunft/')">Bus/Bahn/Bim Routenplaner</a>
        </div>
        <ion-item class="item" ng-click="toggleGroup(2)" ng-class="{active: isGroupShown(2)}">
          <h3>PKW</h3>
          <i class="icon" ng-class="isGroupShown(2) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
        </ion-item>
        <div class="item-accordion" ng-show="isGroupShown(2)">
          <p>Rund um die Vorklinik gilt die <a ng-click="openInAppBrowser('http://www.graz.at/cms/beitrag/10140572/440025')">blaue Zone</a>            (Parkzeit maximal 3 Stunden)<br></p>
          <p>Nächste Tiefgarage - <a ng-click="openInAppBrowser('http://www.parken.at/garage-134-210.html')">Pfauengarten</a>            (beim Paulustor)
          </p>
        </div>
      </div>
    </ion-list>

    <div class="route-section">
      <button id="route-button" class="button button-assertive" ng-click="navigateToCongress()">
        Routenplaner starten
      </button>
    </div>
    </div>

    <iframe name="mapframe" style="height:300px;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Vorklinik+(Medizinische+Universität+Graz),+Harrachgasse,+Graz,+Austria&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU" "></iframe>
  </ion-content>
</ion-view>

</ion-content>
</ion-view>
