<link href="templates/css/tab-programm.css" rel="stylesheet">
<ion-view view-title="Kongressprogramm" class="tab-program">


  <ion-nav-buttons side="left">
    <button class="button homeBtn custom-btn" ng-click="goHome()">
      <i class="ion-home"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button searchBtn" ng-click="openFilter()">
      <i class="ion-search"></i>
    </button>
  </ion-nav-buttons>
  <div class="button-bar">
      <a class="button button-outline btn-switch"
        ng-repeat="(key, value) in data track by $index" id="btn-{{$index+1}}"
        ng-click="switchList({{$index+1}})">{{key}}</a>
  </div>
  <ion-content id="tab-programm">
    <a ng-if="filter_enabled" class="filter_wrapper" ng-click="disableFilter()">
        <i class="filter_left ion-ios-search-strong"></i>
        <span>Filter aktiv</span>
        <i class="filter_right ion-close-circled"></i>
    </a>
    <div class="list noPaddingTop">
      <a class="item programRow" ng-repeat="entry in listData" ng-click="goToDetail(entry)">
        <div class="timeWrapper">
          {{entry.startZeit}} <br> - <br> {{entry.endZeit}}
        </div>
        <div class="infoWrapper">
          <div class="programType" ng-class="{type0: entry.typeString == 'Vortrag', type1: entry.typeString == 'Workshop', type2: entry.typeString == 'Vorkongress',
          type3: entry.typeString == 'Nachkongress'}">{{entry.typeString}} {{entry.Teil !== null ? "- Teil " + entry.Teil : ""}}</div>
          <div class="programName">{{entry.TitelGER}}</div>
          <div class="programAuthor">{{entry.speakers[0].Vorname}} {{entry.speakers[0].Name}} </div>
        </div>
        <div class="detailBox">
          <i class="ion-chevron-right"></i>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
