<link href="templates/css/tab-programm.css" rel="stylesheet">
<link href="templates/css/tab-referenten.css" rel="stylesheet">

<ion-view view-title="Referenten">
  <ion-content class="referenten">

    <div class="list noPaddingList" ng-repeat="(key, value) in data">
      <div class="item item-divider dividerLine speaker">
        {{key}}
      </div>
      <a class="item programRow speaker" ng-repeat="entry in value" ng-click="goToSpeakerDetail(entry)">
        <div class="authorImage">
         <img ng-src="{{entry.image}}"/>
        </div>
        <div class="infoWrapper">
          <div class="authorName">{{entry.name}}</div>
          <div class="authorCountry">{{entry.country}}</div>
        </div>
        <div class="detailBox">
          <i class="ion-chevron-right"></i>
        </div>
      </a>
    </div>

  </ion-content>
</ion-view>
