<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Programm" icon-off="ion-ios-clock" icon-on="ion-ios-clock" href="#/tab/program">
    <ion-nav-view name="tab-program"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Referenten" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/referenten">
    <ion-nav-view name="tab-referenten"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Anfahrt" icon-off="ion-map" icon-on="ion-map" href="#/tab/anfahrt">
    <ion-nav-view name="tab-anfahrt"></ion-nav-view>
  </ion-tab>

  <!-- Details Tab -->
  <ion-tab title="Info" icon-off="ion-speakerphone" icon-on="ion-speakerphone" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>


</ion-tabs>
